<header>
    <nav>
        <a href="home.html">Home</a>
        <a href="about.html">About</a>
    </nav>
</header>
<main>
    <h1>Contact Info</h1>
    <p>
      To reach any number of our representiatives 
      Please email us at supprt@micahcorp.com
    </p>
    <p>
        We're also available by phone at (555)-555-5555
    </a>.     
    </p>
    <div>
        <div>Micah Corporation is supporter of Hack Reactor</div>
        <div>My Cohort is the best.</div>
    </div>
</main>
<footer>
    <div>Copyright 1985 by me!</div>
    <div> I like Breakfast Taco's </div>
</footer>
